.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 90px;
}

.container {
  display: flex;
  justify-content: center;
}

button {
  background-color: aliceblue;
  padding: 8px;
  margin: 3px;
  outline: none;
  border: solid 1px grey;
  border-radius: 10px;
}
button:hover {
  background: #ccc;
}

canvas {
  margin: 0;
  padding: 0;
}
